@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Roboto+Condensed:wght@300&family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:wght@100&display=swap');

/* font style for "The knots" Beau Rivage */

/* font style for the "nav" Roboto*/

/* font style for the "heading" Roboto Condensed */

/* font style for the "paragraph etc" Roboto Flex */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Beau Rivage;
    font-weight: 30px;
}

header {
    border-top: 20px solid;
    font-size: 30px;
    margin-top: 15px;
}

#logo {
    float: left;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: right;
}


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}



footer {
    border-top: 3px solid;
    border-left: 0px;
    border-right: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}